@import 'style.css';

body {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav {
    margin: 10px;
    display: flex;
    gap: 30px;
}

nav a {
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 0.3s;
}

nav a:hover,
nav a.active {
    background-color: var(--primary);
    color: white;
}