@import 'style.css';

body {
    padding: 20px;
    background-color: white;
}

fieldset {
    border: 2px solid var(--secondary);
    border-radius: var(--border-radius);
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    color: var(--primary);
    font-weight: bold;
    padding: 0 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li a {
    display: block;
    padding: 5px 0;
    border-bottom: 1px transparent solid;
}

li a:hover {
    border-bottom: 1px var(--primary) solid;
}