<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantic HTML</title>
    <link rel="stylesheet" href="css/layout.css">
</head>

<body>
    <!-- header -->
    <div class="header">
        <header>
            <p>Ini adalah header</p>
        </header>
    </div>
    <!-- navbar -->
    <div class="navbar">
        <nav>
            <a href="">Link 1</a>
            <a href="">Link 2</a>
            <a href="">Link 3</a>
        </nav>
    </div>
    <div class="row">
        <!-- side & content -->
        <div class="column side">
            <!-- side -->
            <h2>Side Bar</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi maxime suscipit quae, excepturi nulla ullam
                reiciendis molestias, consequuntur iusto numquam dolorum deleniti quod delectus. Nihil ut rerum sunt
                laboriosam consectetur? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam excepturi quas
                consequatur nostrum ipsum quia libero distinctio sunt corporis temporibus. Beatae, non architecto.
                Debitis eligendi repellendus dolores quod nulla ad?</p>
        </div>
        <div class="column middle">
            <h2>Main Content</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni maxime quisquam dolor commodi enim
                consequuntur dolorum temporibus molestias! Eligendi dignissimos modi eveniet voluptate animi labore ab
                eaque saepe quaerat omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
                voluptates deserunt nihil, provident, unde tempore expedita ducimus in incidunt dignissimos modi
                consequatur. Quasi, beatae nihil porro accusantium iste adipisci qui!</p>
        </div>
        <div class="column side">
            <!-- side -->
            <h2>Side Bar</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi maxime suscipit quae, excepturi nulla ullam
                reiciendis molestias, consequuntur iusto numquam dolorum deleniti quod delectus. Nihil ut rerum sunt
                laboriosam consectetur? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam excepturi quas
                consequatur nostrum ipsum quia libero distinctio sunt corporis temporibus. Beatae, non architecto.
                Debitis eligendi repellendus dolores quod nulla ad?</p>
        </div>
        <!-- footer -->
        <div class="footer">
            <footer>Footer</footer>
        </div>
    </div>
</body>

</html>